<!DOCTYPE html>
<html>
<head ng-app= "video">
  <meta charset="utf-8">
  <title> The Museum </title>
  <script src="https://www.google.com/jsapi"></script>
  <script  src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
  <script src="https://code.angularjs.org/1.4.8/angular-animate.js"></script>
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <h1>Welcome to The Museum </h1>
  <div >
    <form>
      <!-- may need to insert an action in to form tag  -->
      What's on your mind: <input  class="searchBar" type="text" name="search" placeholder= "Let's keep it classy" ng-model= "searchTerm">
      <button ng-click= searchByKeyword()> Find me a video </button>
    </form>
    <div ng-controller='videoController'>
    
      <!-- <table>
        <tr ng-repeat= "video in videoResult.results">
          <td> {{video.text}}</td>
        </tr>
      </table> -->

    </div>
  </div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<!-- <script src="https://apis.google.com/js/client.js?onload=init"></script> -->
<scirpt src="search.js"></script>
<script src="app.js"></script>
<script src="video.js"></script>
</body>
</html>
